.modal-full {
    min-width: 100%;
    margin: 0;
}

.modal-full .modal-content {
    min-height: 100vh;
}
  .modal-checkhight{
    overflow-y: auto!important;
  }
  .table-bordered{
    margin: 0 25px;
  }
  .taxt-margin{
    margin: 25px;
  }